
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"/>




<script src="https://file002.shop-pro.jp/PA01399/941/js/app.js?=180719"></script><script type="text/javascript" src="https://store.tysons.jp/js/cart.js" ></script>


<%= form_with(url: cart_go_path) do |form| %>


<div class="container p-8 mx-auto mt-12 js-scrollReveal-delay">

    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <div class="py-4 rounded-md shadow">
              <h3 class="text-xl font-bold text-blue-600 ">Order Summary</h3>

              <% @cart.cart_items.each do |cart_item| %>
                  <% property = cart_item.property %>
              <div class="flex justify-between px-4">
                  
                    <span class="font-bold"><%= image_tag property.default_image ,class:"marukusuru3 h-14 w-14 js-scrollReveal-delay"%>&nbsp;&nbsp;<%= property.name %>,<% if cart_item.size.to_i == 1 then %>
                    XS
                    <% else %>
                    S
                    <% end %> × <%= cart_item.quantity %></span>
                    <span class="font-bold"><%= property.price * cart_item.quantity %></span>
              </div>        
                  <% end %>

                </br>
              <div class="flex justify-between px-4">
                  <span class="font-bold">配送料(全国一律)</span>
                  <span class="font-bold">¥700</span>
              </div>
              <div
                    class="
                      flex
                      items-center
                      justify-between
                      px-4
                      py-2
                      mt-3
                      border-t-2
                    "
                  >
                  
                    <span class="text-xl font-bold">Total</span>

                    <span class="text-2xl font-bold">¥<%= @cart.total.to_i+700 %></span>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          
          <div class="grid grid-cols-6 gap-6">
              <%unless user_signed_in? then%>
                <div class="col-span-6">
                <label for="postal-code" class="block text-sm font-medium text-red-700">※ログインで次回以降入力不要です</label>
                </div>
              <% end %> 
              <%if !@cart.name.blank? then%>
                  <%value_name=@cart.name%>
                  <%value_post_code=@cart.post_code%>
                  <%value_prefecture=@cart.prefecture%>
                  <%value_municipality=@cart.municipality%>
                  <%value_house_number=@cart.house_number%>
                  <%value_phone_number=@cart.phone_number%>


              <%elsif user_signed_in? then%>
                  <%= form.hidden_field :user_id, value: current_user.id %>
                  <%value_name=current_user.name%>
                  <%value_post_code=current_user.post_code%>
                  <%value_prefecture=current_user.prefecture%>
                  <%value_municipality=current_user.municipality%>
                  <%value_house_number=current_user.house_number%>
                  <%value_phone_number=current_user.phone_number%>

              <%else%>
                    <%value_name=@cart.name%>
                    <%value_post_code=@cart.post_code%>
                    <%value_prefecture=@cart.prefecture%>
                    <%value_municipality=@cart.municipality%>
                    <%value_house_number=@cart.house_number%>
                    <%value_phone_number=@cart.phone_number%>


              <% end %> 
            <div class="col-span-6 sm:col-span-4">
                <label for="first-name" class="block text-sm font-medium text-gray-700">名前</label>
                <%= form.text_field :name ,value: value_name ,required: true,class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" ,placeholder:"田中太郎"%>
            </div>


            <div class="col-span-6 sm:col-span-3">
                <label for="city" class="block text-sm font-medium text-gray-700">郵便番号</label>
                <div class="container">
                  <div class="relative"> 
                      <%= form.text_field :post_code,value: value_post_code ,pattern:"[0-9]*",minlength: "6",maxlength: "7",required: true, id:"input-text", class:"h-9 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder:"1060032"%>
                      <div class="absolute top-0 right-0">
                        <p class="h-9 search-postal-code mousepointer-hand  justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">検索</p>
                      </div>
                      <p class="search-postal-code-error text-red-700"></p>
                  </div>
                </div>

            </div>




            <%= form.hidden_field :id, value: @cart.id %>

            <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block text-sm font-medium text-gray-700">都道府県</label>
                <%= form.select :prefecture,  [['北海道','北海道'],
                ['青森県','青森県'],
                ['岩手県','岩手県'],
                ['宮城県','宮城県'],
                ['秋田県','秋田県'],
                ['山形県','山形県'],
                ['福島県','福島県'],
                ['茨城県','茨城県'],
                ['栃木県','栃木県'],
                ['群馬県','群馬県'],
                ['埼玉県','埼玉県'],
                ['千葉県','千葉県'],
                ['東京都','東京都'],
                ['神奈川県 ','神奈川県'],
                ['新潟県','新潟県'],
                ['富山県','富山県'],
                ['石川県','石川県'],
                ['福井県','福井県'],
                ['山梨県','山梨県'],
                ['長野県','長野県'],
                ['岐阜県','岐阜県'],
                ['静岡県','静岡県'],
                ['愛知県','愛知県'],
                ['三重県','三重県'],
                ['滋賀県','滋賀県'],
                ['京都府','京都府'],
                ['大阪府','大阪府'],
                ['兵庫県','兵庫県'],
                ['奈良県','奈良県'],
                ['和歌山県','和歌山県'],
                ['鳥取県','鳥取県'],
                ['島根県','島根県'],
                ['岡山県','岡山県'],
                ['広島県','広島県'],
                ['山口県','山口県'],
                ['徳島県','徳島県'],
                ['香川県','香川県'],
                ['愛媛県','愛媛県'],
                ['高知県','高知県'],
                ['福岡県','福岡県'],
                ['佐賀県','佐賀県'],
                ['長崎県','長崎県'],
                ['熊本県','熊本県'],
                ['大分県','大分県'],
                ['宮崎県','宮崎県'],
                ['鹿児島県','鹿児島県'],
                ['沖縄県','沖縄県']
               ], { include_blank: '選択してください',selected:value_prefecture},required: true,selected:value_prefecture,id:"output-text1",class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"%>
            </div>
            <div class="col-span-6">
                <label for="street-address" class="block text-sm font-medium text-gray-700">市区町村</label>
                <%= form.text_field :municipality ,value: value_municipality ,required: true,id:"output-text2",class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder:"港区六本木"%>
            </div>

            <div class="col-span-6">
                <label for="street-address" class="block text-sm font-medium text-gray-700">番地以降</label>
                <%= form.text_field :house_number ,value: value_house_number ,required: true,class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder:"6-10-2 六本木ヒルズ42F"%>
            </div>

            <div class="col-span-6 sm:col-span-3">
                <label for="postal-code" class="block text-sm font-medium text-gray-700">電話番号</label>
                <%= form.text_field :phone_number,value: value_phone_number ,pattern:"[0-9]*",minlength: "10",maxlength: "11",required: true,max: 14,class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder:"08094056561"%>
            </div>

            <%if user_signed_in? then%>
            <%value_email=current_user.email%>
            <div class="col-span-6 sm:col-span-3">
              <label for="postal-code" class="block text-sm font-medium text-gray-700">メールアドレス</label>
              <%=current_user.email%>
              <%= form.hidden_field :email, value: value_email %>
            </div>

            <%else%>
            <%value_email=@cart.email%>
            <div class="col-span-6 sm:col-span-3">
                <label for="postal-code" class="block text-sm font-medium text-gray-700">メールアドレス</label>
                <%= form.email_field :email,value: value_email ,required: true,class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder:"armis@gmail.com"%>
            </div>

            <%end%>


            </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 sm:px-6 btnLeft">
        <%=link_to "戻る",cart_path, style:"text-decoration:none;" ,class:" text-left inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white hover:text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
        </div>
        <div class="px-4 py-3 bg-gray-50 sm:px-6 btnRight">
        <%= form.submit "確認",data:{turbo:false},class:"mousepointer-hand  inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
        
        
        </div>
      </div>
    </div>
  </div>
</div>



<% end %>



<script>
$(function() {
  
document.querySelector('.search-postal-code').addEventListener('click', () => {
  const postalCode = document.querySelector("#input-text");
  fetch("/search/"+postalCode.value)
    .then((data) => data.json())
    .then((obj) => {
      if(obj === null) {
        const elem = document.querySelector(".search-postal-code-error");
        elem.innerHTML = "該当する住所が見つかりません。";
      } else {
        const address = document.querySelector("#output-text1");
        const address2 = document.querySelector("#output-text2");
        if(obj.town === null) {
          town ="";
        } else {
          town =obj.town;
        }
        address.value = obj.prefecture;
        address2.value = obj.city + town;
        const error = document.querySelector(".search-postal-code-error");
        error.innerHTML = "";
      }
    });
});

});


</script>