<!DOCTYPE html>

<%= turbo_frame_tag "cart" do %>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
        Tailwind CSS shopping cart list with coupon, order summary using heroicons
      </title>
      <link
        href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
        rel="stylesheet"
      />
    </head>

    <body>
      <div class="container p-8 mx-auto mt-12 ">
      <% if @cart.cart_items.length!=0%>
        <div class="w-full overflow-x-auto js-scrollReveal-delay">
          <div class="my-2 ">
            <h3 class="text-xl font-bold tracking-wider">Shopping Cart <%=@cart.cart_items.length%> item</h3>
          </div>
          <%= form_with(url: cart_update_path) do |f| %>
            <table class="w-full shadow-inner">
              <thead>
                <tr class="bg-gray-100">
                  <th class="px-6 py-3 font-bold whitespace-nowrap">Image</th>
                  <th class="px-6 py-3 font-bold whitespace-nowrap hidden sm:block">Product</th>
                  <th class="px-6 py-3 font-bold whitespace-nowrap">Qty</th>
                  <th class="px-6 py-3 font-bold whitespace-nowrap hidden sm:block">Price</th>
                  <th class="px-6 py-3 font-bold whitespace-nowrap">Remove</th>
                </tr>
              </thead>

              <% @cart.cart_items.each do |cart_item| %>
                <tbody>
                  <% property = cart_item.property %>
                  <tr>
                    <td >
                      <%= image_tag property.default_image ,class:"marukusuru h-28 w-28 js-scrollReveal-delay", style:"display: block; margin: auto;"%>
                      <div class="marukusuru2 bg-gray-100  w-28" style="display: block; margin: auto;">
                        &nbsp;<%= property.price %>yen&nbsp;<% if cart_item.size.to_i == 1 then %>
                        XS
                        <% else %>
                        S
                        <% end %>
                      </div>
                    </td>
                    <td class="p-4 px-6 text-center whitespace-nowrap hidden sm:block">
                      <%= property.name %>,<% if cart_item.size.to_i == 1 then %>
                        XS
                      <% else %>
                        S
                      <% end %>
                    </td>

                    <td class="p-4 px-6 text-center whitespace-nowrap">
                        <%= f.text_field :quantity, multiple:true, value: cart_item.quantity,pattern:"[0-9]*" ,class:"w-12 text-center bg-gray-100 outline-none value_size2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
                        <%= f.hidden_field :id, multiple:true, value: property.id %>
                        <%= f.hidden_field :size, multiple:true, value:cart_item.size%>
                    </td>
                    <td class="p-4 px-6 text-center whitespace-nowrap hidden sm:block"><%= property.price %></td>
    
                    <td class="p-4 px-6 text-center whitespace-nowrap">
                      <%= link_to cart_remove_path(id:cart_item.id),data:{turbo:false}, method: :post do%>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-6 h-6 text-red-400"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                          />
                        </svg>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              <% end %>
            </table>

          <div class="mt-4">
            <%= f.submit "確認画面",data:{turbo:false},
                  class:"
                    mousepointer-hand
                  w-full
                  py-2
                  text-center text-white
                  bg-blue-500
                  rounded-md
                  shadow
                  hover:bg-blue-600
                "
                %>
          </div>
          <% end %>
        </div>
        <%end%>
          <h2 class="Section-title js-scrollReveal-delay">RECOMMEND ITEM</h2>
        <div class="Flex Flex--center t-flex t-md-gutterReset">
          <% @prop.each do |post|%>
            <div class="Flex-col t-width4of12 t-md-width2of12 t-xl-width2of12 js-scrollReveal-delay">
              <%= render post %>
            </div>
          <%end%>
        </div>
      </div>
    </body>

  <script src="https://file002.shop-pro.jp/PA01399/941/js/app.js?=180719"></script><script type="text/javascript" src="https://store.tysons.jp/js/cart.js" ></script>
  </html>
<% end %>
