
<link rel="stylesheet" href="https://file002.shop-pro.jp/PA01399/941/css/app.css?ver=55">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" aria-hidden="true"> <symbol id="icon-cart" viewBox="0 0 32 32"><g> <path d="M11.262 23.201a2.396 2.396 0 0 0-2.389 2.397A2.398 2.398 0 0 0 11.262 28c1.32 0 2.4-1.079 2.4-2.401 0-1.32-1.08-2.398-2.4-2.398zM4.062 4v2.4h2.4l4.32 9.108-3.595 6.491h18.476V19.6H11.25l1.333-2.399h10.35l4.986-9.027.02-1.773H9.114L7.986 4H4.062zm19.202 19.201a2.397 2.397 0 0 0-2.391 2.397 2.397 2.397 0 0 0 2.391 2.399 2.406 2.406 0 0 0 2.399-2.399 2.406 2.406 0 0 0-2.399-2.397z"/> </g></symbol> <symbol id="icon-chevron-top" viewBox="0 0 32 32"><g> <path d="M16 12l-7.1 7-.5-.5L16 11l7.6 7.5-.5.5z"/> </g></symbol> <symbol id="icon-facebook" viewBox="0 0 32 32"><g> <path d="M20.4 6.9h-2.3c-2.6 0-4.3 1.7-4.3 4.4v2.1h-2.4c-.2 0-.4.2-.4.4v3c0 .2.2.4.4.4h2.3v7.5c0 .2.2.4.4.4h3.1c.2 0 .4-.2.4-.4v-7.5h2.7c.2 0 .4-.2.4-.4v-3c0-.1 0-.2-.1-.3s-.1-.1-.2-.1h-2.7v-1.7c0-.8.2-1.3 1.3-1.3h1.6c.2 0 .4-.2.4-.4V7.3c-.2-.2-.4-.4-.6-.4z"/> </g></symbol> <symbol id="icon-home" viewBox="0 0 32 32"><g> <path d="M27 18.039L16 9.501 5 18.039V14.56l11-8.54 11 8.538v3.481zm-2.75-.31v8.251h-5.5v-5.5h-5.5v5.5h-5.5v-8.25L16 11.543l8.25 6.186z"/> </g></symbol> <symbol id="icon-instagram" viewBox="0 0 64 64"><g> <path d="M32 16.8c5 0 5.6 0 7.4.2 1.8 0 2.8.4 3.399.6.8.4 1.4.8 2.2 1.4.6.6 1 1.2 1.4 2.2.199.6.6 1.6.6 3.4 0 2 .2 2.6.2 7.4s0 5.6-.2 7.4c0 1.8-.4 2.8-.6 3.399C46 43.6 45.6 44.2 45 45c-.6.6-1.2 1-2.2 1.4-.6.2-1.6.6-3.4.6-2 0-2.601.2-7.4.2-5 0-5.6 0-7.4-.2-1.8 0-2.8-.4-3.4-.6-.8-.4-1.4-.8-2.2-1.4-.6-.6-1-1.2-1.4-2.2-.2-.6-.6-1.6-.6-3.4 0-2-.2-2.601-.2-7.4s0-5.6.2-7.4c0-1.8.4-2.8.6-3.4.4-.8.8-1.4 1.4-2.2.6-.6 1.2-1 2.2-1.4.6-.2 1.6-.6 3.4-.6 2 0 2.4-.2 7.4-.2m0-3.2c-5 0-5.6 0-7.6.2-2 0-3.4.4-4.4.8-1.2.4-2.2 1.2-3.2 2.2s-1.6 2-2.2 3.2c-.4 1.2-.8 2.6-.8 4.4 0 2-.2 2.6-.2 7.6s0 5.6.2 7.6c0 2 .4 3.4.8 4.4.4 1.2 1.2 2.2 2.2 3.2s2 1.6 3.2 2.2c1.2.399 2.6.8 4.4.8 2 .2 2.6.2 7.6.2s5.6 0 7.6-.2c2 0 3.4-.4 4.4-.8 1.2-.4 2.2-1.2 3.2-2.2s1.6-2 2.2-3.2c.399-1.2.8-2.6.8-4.4 0-2 .2-2.6.2-7.6s0-5.6-.2-7.6c0-2-.4-3.4-.8-4.4-.4-1.2-1.2-2.2-2.2-3.2s-2-1.6-3.2-2.2c-1.2-.4-2.6-.8-4.4-.8-1.8 0-2.6-.2-7.6-.2zm0 9c-5.2 0-9.6 4.2-9.6 9.6 0 5.399 4.2 9.6 9.6 9.6 5.4 0 9.6-4.2 9.6-9.6 0-5.4-4.4-9.6-9.6-9.6zm0 15.6c-3.4 0-6.2-2.8-6.2-6.2 0-3.4 2.8-6.2 6.2-6.2 3.4 0 6.2 2.8 6.2 6.2 0 3.4-2.8 6.2-6.2 6.2zM41.8 20a2.2 2.2 0 1 1 .001 4.399A2.2 2.2 0 0 1 41.8 20z"/> </g></symbol> <symbol id="icon-person" viewBox="0 0 32 32"><g> <path d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"/> </g></symbol> <symbol id="icon-twitter" viewBox="0 0 32 32"><g> <path d="M12.568 23.518c-2.143 0-4.139-.629-5.817-1.707a7.61 7.61 0 0 0 5.617-1.57 3.796 3.796 0 0 1-3.543-2.637 3.86 3.86 0 0 0 1.715-.065 3.801 3.801 0 0 1-3.047-3.721v-.049a3.805 3.805 0 0 0 1.719.475 3.789 3.789 0 0 1-1.688-3.16c0-.695.188-1.348.515-1.908a10.77 10.77 0 0 0 7.821 3.968 3.795 3.795 0 0 1 3.699-4.66c1.09 0 2.078.461 2.769 1.196a7.561 7.561 0 0 0 2.411-.92 3.822 3.822 0 0 1-1.668 2.101 7.563 7.563 0 0 0 2.179-.597 7.757 7.757 0 0 1-1.894 1.964c.008.163.013.327.013.491-.001 5.013-3.821 10.799-10.801 10.799"/> </g></symbol></svg>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://file002.shop-pro.jp/PA01399/941/js/app.js?=180719"></script>

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="js-scrollReveal-delay">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Log in</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "Sign Up", new_user_registration_path,data:{turbo:false}, class: "font-medium text-red-600 hover:text-red-500" %>
      </p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-8 space-y-6" }) do |f| %>
      <div class="rounded-md shadow-sm -space-y-px js-scrollReveal-delay">
        <div>
          <%= f.label :email, "Email address", class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm" %>
        </div>
      </div>
      <div class="flex items-center justify-between js-scrollReveal-delay">
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: "h-4 w-4 text-red-600 focus:ring-red-500 border-gray-300 rounded" %>
            <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>
        <% end %>

        <div class="text-sm">
          <a href="#" class="font-medium text-red-600 hover:text-red-500"> Forgot your password? </a>
        </div>
      </div>
      <div class="js-scrollReveal-delay">
        <%= f.submit "Log in", class: "mousepointer-hand group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 airbnb-pink-gradient" %>
      </div>
    <% end %>
  </div>
</div>
